.button__close {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    transform: translate(130%, -100%);
    opacity: 1;
    transition: opacity .2s;
    background-image: url(../../../images/close-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.button__close:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .button__close {
        transform: translate(0%, -128%);
        width: 20px;
        height: 20px;
    }
}
