.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px 0;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
}