.button__like_active {
    width: 22px;
    height: 19px;
    opacity: 1;
    transition: opacity .3s;
    background-image: url(../../../../images/like-active.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
}