.profile__button_add {
    opacity: 1;
    transition: opacity .5s;
    width: 150px;
    height: 50px;
    background-image: url(../../../../images/add-btn.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
}

.profile__button_add:hover {
    opacity: .6;
}


@media screen and (max-width: 768px) {
    .profile__button_add {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../../../images/add-btn-big.svg);
        width: 282px;
        margin: 36px 0;
    }
}


