.button__add {
    display: block;
    opacity: 1;
    transition: opacity .5s;
    max-width: 150px;
    max-height: 50px;
}

.button__add:hover {
    opacity: .6;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .button__add {
        flex-basis: 100%;
        max-width: 282px;
        max-height: 50px;
    }
}

