.profile__info {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile__info {
        flex-basis: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}