.profile__button_edit {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity .5s;
    background-image: url(../../../../images/edit-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1px 5px 9px 7px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.profile__button_edit:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__button_edit {
        width: 18px;
        height: 18px;
        position: absolute;
        margin: 0;
        top: 10px;
        right: 15px;
    }
}