.popup__button_submit {
    font-family: 'Inter','Times New Roman', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 14px 125px 19px;
    background-color: #000;
    border-radius: 2px;
    transition: opacity .3s;
    margin-top: 18px;
}

.popup__button_submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .popup__button_submit {
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
    }
}

